/******* Global Styles *******/

h1,
p {
  color: #ffb482;
}

p {
  text-align: center;
  font-size: 16px;
}

h2,
h3,
h4 {
  color:	#3effa7;
  margin-top: 5px;
}
h2 small {
  color: #ffb482;
}

h3 {
  text-align: center;
}
h3:hover {
  color: #ff3e96;
}
h4 {
  font-size: 30px;
}
a:hover {
  text-decoration: none;
}

/**************** Navigation *************/

.navbar-brand>img {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.moon {
  width: 35px;
  height: 35px;

}
.navbar-brand {
  font-size: 30px;
  padding-bottom: 15px;
  color: #ffb482;
  margin-bottom: 3px;
  line-height: 30px;

}
a.navbar-brand:hover,
a.navbar-brand:focus{
  text-decoration: none;
  color: #fff;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid .portfolio {
  overflow: visible;
  width: 100%;
  position: relative;
}

.navbar-nav li a {
  color: #3effa7;
  font-size: 30px;
  padding-bottom: 15px;
  line-height: 30px;
}

.navbar-nav li a:hover {
  background-color: transparent;
  color: #ff3e96;
}

.navbar-nav li a:focus {
  background-color: transparent;
}

.navbar-toggle {
  background-color:  transparent;
  border: 2px solid #fff;
  margin-right: 20px;
}

span.icon-bar {
  background-color: #fff;
}

.navbar-toggle .icon-bar+.icon-bar {
  background-color: #fff;
}

.icon-bar a:hover {
  background-color: #e7f0f3;
}
/*** Turn the hamburger to an x ***/
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/******************** About Me ***************/
.section.section-header.aboutMe {
  background: url('../img/edit2.jpg');
}
.section {
  position: relative;
}

img.portrait {
  padding-top: 80px;
}

.aboutMe {
  height: 300%;
  width: 100%;
}

.page-header {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 0px solid transparent;
  border-radius: 3px;
  background-color: rgba(109,123,255, 0.7);
  width: 90%;
}
/*******  Alchemy Symbols *******/
.row.alchemySymbol {
  margin-left: 0px;
  margin-right: 0px;
}

.alchemy {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.alchemy:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


/***************  Work Section **********************/
.portfolio {
  width: 100%;
  background: url('../img/edit2.jpg');
  border-top: 2px solid #abddff;
}

a.work {
  margin-top: 10px;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  }

a.work:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #3effa7 , 0 0 70px #3effa7 , 0 0 80px #3effa7 , 0 0 100px #3effa7 ;
  text-decoration: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

/**********************  Portfolio Image Styles **********************/
.projectName {
  font-size: 20px;
  background-color: rgba(109,123,255, 0.5);
  border-radius: 3px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.kitty1 {
  height: 263.85px;
  width: 220.14px;
  margin-top: 15px;
}
.kitty1:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.kitty2 {
  height: 266px;
  width: 304.7px;
  margin-top: 10px;
}
.kitty2:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.kitty3 {
  height: 252.83px;
  width: 200.16px;
  margin-top: 10px;
}
.kitty3:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.kitty4 {
  height: 274px;
  width: 235.25px;
  margin-top: 10px;
}
.kitty4:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.kitty5 {
  height: 253px;
  width: 218px;
  margin-top: 10px;
}
.kitty5:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.kitty6 {
  height: 226.66px;
  width: 183.83px;
  margin-top: 10px;
}
.kitty6:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/************** Footer Styles **************/
.container-fluid {
  width: 100%;
}
.footer {
  height: 30%;
  background: url('../img/edit2.jpg');
  border-top: 2px solid #abddff;
}
.sectionA,
.sectionF {
  background-color: rgba(109,123,255, 0.5);
  border-radius: 3px;
  margin-bottom: 15px;
}

.kitty {
  width: 244.5px;
  height: 135.33px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.kitty:hover {
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}
@keyframes skew {
  0% {
    transform: skewX(15deg);
  }
  100% {
    transform: skewX(-15deg);
  }
}

/************** Contact Form **************/

.emailMe a{
  color: #3effa7;
  font-size: 30px;
  padding-bottom: 15px;
}

.emailMe a:hover {
  background-color: transparent;
  color: #ff3e96;
  text-decoration: none;
}
.container {
  padding: 0 15px;
}

textarea.form-control {
  height: 30%;
  width: 100%;
}

label {
  color: #ffb482;
}

.form-control {
  width: 100%;
  background-color: #e5f3f7;
  border-color: #eec273;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control:focus {
  background-color: #fff;
}

.followMe a{
  margin-top: 10px;
  color: #3effa7;
  font-size: 30px;
  padding-bottom: 15px;
}

.followMe a:hover {
  background-color: transparent;
  color: #ff3e96;
  text-decoration: none;
}

.btn {
  background-color: #e5f3f7;
  border-color: #eec273;
  color: #eec273;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  color: #ff3e96;
  border-color: #ff3e96;
}

/******* Social Media Icons *******/
.soc {
  display: block;
  font-size: 0;
  list-style: none;
  padding: 0;
}

.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
ul.soc {
  margin-left: 25px;
  margin-right: auto;
}

.soc a, .soc svg {
  display: block;
}

.soc a {
  position: relative;
  height: 6rem;
  width: 6rem;
}

.soc svg {
  height: 100%;
  width: 100%;
}

.icon-13:hover,
.icon-26:hover,
.icon-17:hover {
  border-radius: 100%;
  color: rgba(109,123,255, 0.5);
  fill: rgba(109,123,255, 0.5);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}

.icon-13:hover {
  background: #26d991;
}

.icon-17 {
  color: #eec273;
  fill: #eec273;
}

.icon-17:hover {
  background: #eec273;
}

.icon-26 {
  color: #d926b5;
  fill: #d926b5;
}

.icon-26:hover {
  background: #d926b5;
}


/****************** Modal Window *****************/
.modal-header {
  border-bottom: 1px solid #ff3e96;
}
.modal-content {
  background-color: rgba(109,123,255, 0.9);
  overflow: hidden;
}

img.screenShot{
  height: 368.42px;
  width: 268px;
}

.projectInfo p {
  text-align: center;
}
.projectInfo a {
  text-align: center;
  color: #3effa7;
  font-size: 20px;
  margin-left: 15px;
}

.projectInfo a:hover {
  background-color: transparent;
  color: #ff3e96;
  text-decoration: none;
}

.modal-footer {
  border-top: 1px solid #ff3e96;
}
.mButton {
  margin-left: auto;
  margin-right: auto;
}

/*********************** Media Queries ***********************/
/***** Collapsed Menu Style *****/
@media (max-width: 767px){
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header  {
  background-color: rgba(109,123,255, 0.7);
  opacity: 0.8;
  }
}
/*********************** Small Screens ***********************/
@media (min-width: 768px) {
  p {
  text-align: left;
  }
  .navbar-nav li a {
    margin-left: 10px;
  }
  .alchemy {
    height: 40px;
    width: 40px;
  }
  .page-header {
    width: 60%;
  }

/****** Portfolio Image Styles *******/
  .kitty1 {
    height: 230.87px;
    width: 192.62px;
    margin-top: 50px;
  }
  .kitty2 {
    height: 239.4px;
    width: 274.3px;
    margin-top: 10px;
  }

  .kitty3 {
    height: 216.71px;
    width: 171.57px;
    margin-top: 50px;
  }

  .kitty4 {
    height: 235.25px;
    width: 274px;
    margin-top: 30px;
  }

  .kitty5 {
    height: 289.14px;
    width: 249.14px;
    margin-right: 15px;
  }

  .kitty6 {
    height: 226.66px;
    width: 183.83px;
    margin-top: 40px;
  }
/****** Footer *******/
  .footer ul {
  text-align: left;
  }

  #footer {
  margin-left: 30px;
  }

  .emailMe {
  text-align: left;
  }

  .followMe {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  }

  .kitty {
    width: 293.4px;
    height: 162.4px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sectionA {
  width: 60%;
  margin-left: 0px;
  }

  .sectionF {
  margin-left: 0px;
  width: 60%;
  }

  label {
  padding-left: 0px;
  }

  .form-control {
  width: 100%;
  margin-left: 0px;
  }

  textarea.form-control {
  height: 30%;
  width: 100%;
  }

  .btn {
  margin-left: 0px;
  margin-right: 0px;
  }
  /** Social Media Icons **/
  ul.soc {
    margin-left: -20px;
    margin-right: auto;
    text-align: left;
  }
/****************** Modal Window *****************/
  .mButton {
    margin-left: auto;
    margin-right: auto;
  }
  img.screenShot{
    height: 312.43px;
    width: 269px;
  }
  .projectInfo a {
    margin-left: 0px;
  }
  .projectInfo p {
    text-align: left;
  }
}
/*********************** Medium Screens ***********************/
@media (min-width: 992px) {
  .navbar-nav li a {
    margin-left: 45px;
  }
  .page-header {
    width: 40%;
  }
  .alchemy {
    height: 60px;
    width: 60px;
    margin-top: 10px;
  }
/****** Portfolio Image Styles *******/
  .kitty1 {
    height: 263.85px;
    width: 220.14px;
  }
  .kitty2 {
    height: 239.4px;
    width: 274.3px;
    margin-top: 10px;
  }

  .kitty3 {
    height: 252.83px;
    width: 200.16px;
  }

  .kitty4 {
    height: 235.25px;
    width: 274px;
    margin-top: 30px;
  }

  .kitty5 {
    height: 289.14px;
    width: 249.14px;
    margin-right: 15px;
  }

  .kitty6 {
    height: 226.66px;
    width: 183.83px;
    margin-top: 50px;
  }
/****** Footer *******/
  #footer {
    margin-left: 0px;
  }
  .kitty {
    width: 366.75px;
    height: 203px;
  }
  .sectionK {
    margin-top: 45px;
    margin-left: 20px;
    width: 320px;
  }
  .sectionA {
    width: 430px;
    margin-left: 60px;
    margin-top: 15px;
  }
  .sectionF {
    width: 190px;
    margin-left: 60px;
    padding-bottom: 30px;
    margin-top: 15px;
  }
  .followMe {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .footer ul {
    text-align: center;
    padding-top: 10px;
  }
/****************** Modal Window *****************/
  .modal-dialog {
    width: 600px;
  }

  img.screenShot{
    height: 308.42px;
    width: 269px;
  }

  .projectInfo a {
    margin-left: 0px;
  }
}
/*********************** Large Screens ***********************/
@media (min-width: 1200px) {
  .section .section-header .aboutMe {
    width: 100%;
    height: 100%;
  }
  .navbar-nav li a {
    margin-left: 150px;
  }
  .page-header {
    width: 33%;
  }

  .alchemy {
    height: 80px;
    width: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /****** Portfolio Image Styles *******/
  .kitty1 {
    height: 307.83px;
    width: 256.83px;
    margin-top: 50px;
  }
  .kitty2 {
    height: 399px;
    width: 457.16px;
    margin-top: 10px;
  }

  .kitty3 {
    height: 303.4px;
    width: 240.2px;
    margin-top: 50px;
  }

  .kitty4 {
    height: 365.33px;
    width: 313.66px;
  }

  .kitty5 {
    height: 337.3px;
    width: 290.6px;
    margin-top: 30px;
  }

  .kitty6 {
    height: 272px;
    width: 220.6px;
    margin-top: 60px;
  }
  /****** Footer *******/

  .sectionK {
    margin-left: 30px;
    margin-top: 60px;
    width: 400px;
  }
  .sectionA {
    margin-top: 15px;
    width: 430px;
  }
  .sectionF {
    margin-top: 15px;
    width: 290px;
  }
  /*** Social Media Icons ***/
  .soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .soc li {
    display: inline-block;
    margin: 12px;
    margin: 1.2rem;
  }
  /****** Modal Window *******/
  .modal-dialog {
    width: 900px;
  }
  .projectInfo a {
    margin-left: 60px;
  }

}
